/**

!/.github
!/.github/**
!/dev-scripts
!/dev-scripts/*
!/dist
!/dist/*
!/docs
!/docs/**
!/examples
!/examples/*
!/jsdoc
!/jsdoc/**
!/lib
!/lib/*
!/test
!/test/*
!.gitignore
!.npmignore
!CHANGELOG.md
!LICENSE
!package.json
!package-lock.json
!README.md

